@font-face{
    font-family: "Montserat regular";
    src: url(/Montserrat/Montserrat-Regular.ttf);
    
}
@font-face{
    font-family: "Montserat semi bold";
    src: url(/Montserrat/Montserrat-SemiBold.ttf);
}
#icon{
    width: 20px;
    height: 20px;
    float: left;
    margin: 25px;
    
}
#icon2{
    width: 20px;
    height: 20px;
    float: right;
}
body{
    display: flex;
    justify-content: center;
    color: red;
    background-color: #F8F7FF;
    font-family: "Montserat semi bold", Calibri, Tahoma, sans-serif;
}
.header{
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: block;
}
.h1{
    font-size: 48px;
}
.h2{
    font-size: 30px;
}

.textbox{
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
    height: 40px;
}
.buttons{
    width: 50%;
    position: relative;
    display: block;
}
.genreCard{
    border-radius: 4px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: 14px 0px 14px -20px;
    height: 50px;
    text-align: left;
    position: relative;
    font-family: "Montserat regular", Calibri, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #F0F0F6;
}
.bookCard{
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}
@media screen and (max-width: 600px) {
    .buttons {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }