body{
    display: flex;
    justify-content: center;
    color: #5E56E7;
    background-color: #F8F7FF;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
.header{
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: block;
}
.textbox{
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
    height: 40px;
}
.buttons{
    width: 50%;
    position: relative;
    display: block;
}
.genreCard{
    border-radius: 4px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    height: 50px;
    text-align: center;
    position: relative;
    
}
.bookCard{
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}
